.Container {
  background-color: burlywood;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  background-color: antiquewhite;
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

/* For any div inside the class container*/
.Container > div {
  padding: 10px;
}

@media (max-width: 768px) {
  .Container {
    flex-direction: column;
  }
}